
@import "react-image-gallery/styles/css/image-gallery.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */

/* Additional CSS rules for styling your React components */

@layer base {
    .button-card {
    @apply border border-black rounded-xl px-5 py-1;
  }
}

.react-rater-star.is-active-half:before {
  color: var(--gold) !important;
}

.react-rater-star.is-active {
  color: var(--gold) !important;
}

/* .font-primary{
    font-family: 'Open Sans', sans-serif;
} */
/* .font-primary{
    font-family: 'Raleway', sans-serif;
} */
.font-primary{
    font-family: 'montserrat', sans-serif;
}
/* .font-primary{
    font-family: 'Nunito Sans', sans-serif;
} */
/* .font-primary{
    font-family: 'Poppins', sans-serif;
} */
/* .font-primary{
    font-family: 'Archivo', sans-serif;
} */
